# General
*.tmp
*.log
*.swp

# General - Windows
Thumbs.db
*.lnk
~$*


# General - MacOS
.DS_Store

# VSCode
vscode/
.vscode/
*.code-workspace

# Java development
.metadata
.project
.classpath
.settings/
.gradle/
.idea/
bin/
build/
out/

# Laplacian projects
/dest/
subprojects/mvn-repo/
subprojects/mvn-repo
subprojects/laplacian-arch.architecture-document-template/
subprojects/laplacian-arch.datasource.flyway-migration-template/
subprojects/laplacian-arch.datasource.schema-model/
subprojects/laplacian-arch.service-api.schema-model/
subprojects/laplacian-arch.service-api.springboot2-template/
subprojects/laplacian.metamodel/
subprojects/laplacian.project.base-template/
subprojects/laplacian.project.document-content/
subprojects/laplacian.project.project-types/
subprojects/laplacian.project.schema-model/
subprojects/laplacian.schema.document-template/
subprojects/laplacian.schema.plugin-template/