# General
*.tmp
*.log
*.swp

# General - Windows
Thumbs.db
*.lnk
~$*


# General - MacOS
.DS_Store

# VSCode
/vscode/
# /.vscode/
*.code-workspace

# Java development
.metadata
.project
.classpath
.settings/
.gradle/
.idea/
bin/
build/
out/

# Laplacian projects
.NEXT/
.PREV/
/dest/
subprojects/mvn-repo/
subprojects/mvn-repo
subprojects/common-model/
subprojects/domain-model-project-template/
subprojects/generator-project-template/
subprojects/metamodel/
subprojects/model-project-template/
subprojects/project-group-project-template/
subprojects/project-domain-model/
subprojects/project-project-types/
subprojects/template-project-template/