# General
*.tmp
*.log
*.swp

# General - Windows
Thumbs.db
*.lnk
~$*


# General - MacOS
.DS_Store

# VSCode
vscode/
.vscode/
*.code-workspace

# Java development
.metadata
.project
.classpath
.settings/
.gradle/
.idea/
bin/
build/
out/

# Laplacian projects
.NEXT/
.PREV/
/dest/
subprojects/mvn-repo/
subprojects/mvn-repo
subprojects/laplacian-arch.architecture-document-template/
subprojects/laplacian-arch.datasource.flyway-migration-template/
subprojects/laplacian-arch.datasource.schema-model/
subprojects/laplacian-arch.service-api.schema-model/
subprojects/laplacian-arch.service-api.springboot2-template/
subprojects/laplacian.common-model/
subprojects/laplacian.domain-model-plugin.project-template/
subprojects/laplacian.domain-model.project-template/
subprojects/laplacian.generator.project-template/
subprojects/laplacian.metamodel/
subprojects/laplacian.project-group.document-template/
subprojects/laplacian.project.domain-model/
subprojects/laplacian.project.project-types/